.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar-divider {
    width: 0.5px;
    height: 1rem;
    background-color: white;
    margin: 0 0.5rem 0 0.5rem;
  }

  .navbar-home {
    margin-left: 1rem;
    height: 3rem;
  }

  .navbar-home-text {
    font-size: medium;
  }

  .navbar-home-icon {
    margin: 0 0 0 0.5rem;
    padding-top: 0.4rem;
  }

  .navbar-pages {
    display: flex;
    align-items: center;
  }

  .navbar-pages-text {
    margin: 0 0.5rem 0 0.1rem;
  }

  .navbar-login {
    margin-right: 1rem;
  }
}

@media screen and (max-width: 1051px) {
  .navbar-pages-text {
    display: none;
  }
  .navbar-home-icon {
    display: none;
  }
}
