.wrapper {
  overflow: hidden;
  width: 100%;
  min-width: 250px;
  max-width: 350px;
  background: white;
  padding: 1.5rem;
  border-radius: 2rem;
  box-shadow: 0px 15px 20px 20px rgba(0, 0, 0, 0.1);
}

.slide-controls {
  transform: translateX(-1em);
  position: relative;
  display: flex;
  height: 3rem;
  width: 100%;
  overflow: hidden;
  margin: 0 1rem 1.5rem 1rem;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 1rem;
}

.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: white;
  font-weight: 500;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}

.signup {
  color: #080808;
}

.slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 1rem;
  background: #080808;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type="radio"] {
  display: none;
}

#signup:checked ~ .slider-tab {
  left: 50%;
}
#signup:checked ~ label.signup {
  color: white;
  cursor: default;
  user-select: none;
}

#signup:checked ~ label.login {
  color: #080808;
}
#login:checked ~ label.signup {
  color: #080808;
}

#login:checked ~ label.login {
  cursor: default;
  user-select: none;
}
